/* ================================================================ */
/* ============================ PAGE OFFER ============================== */
/* ================================================================ */

.offer {
  article {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 55px;
    margin-block-start: 50px;
    width: 100%;
  }
  img,
  aside {
    border-radius: 5px;
  }

  img {
    object-fit: cover;
    height: auto;
    aspect-ratio: 3 / 4;
  }

  .img-container {
    display: flex;
    flex: 1 0 60%;
    gap: 2px;
    max-height: 620px;

    > * {
      flex: 1 0 calc(50% - 2px);
    }

    * {
      border-radius: 0px;
    }
    .col-2 {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      > * {
        width: calc(50% - 2px);
      }
    }
  }

  aside {
    padding-block: 16px;
    border: 1px solid var(--light-grey);
    line-height: 1.375;
    flex: 0 1 40%;
    /* min-width: 290px; */

    > * {
      padding: 12px 16px;
    }

    .top,
    .details,
    .description {
      border-block-end: 1px solid var(--light-grey);
    }

    h1 {
      font-size: 1rem;
      font-weight: bold;
      margin-block-end: 5px;
    }

    .brand {
      color: var(--blue);
      text-decoration: underline;
    }

    .price-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-block-end: 20px;
      font-size: 0.875rem;

      color: var(--grey);

      span:nth-child(2) {
        color: var(--blue);
        font-weight: bold;
        font-size: 1rem;
      }

      p {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--blue);
        font-size: 0.875rem;
      }
    }
  }

  aside .details {
    font-size: 0.875rem;

    p {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      margin-block-end: 5px;

      > * {
        flex: 1;
      }
    }
    p:first-child span:last-child {
      color: var(--blue);
    }

    span:last-child {
      text-align-last: left;
      font-weight: 600;
    }
  }

  .description {
    padding-block: 12px;
  }

  .description + p {
    color: black;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;

    span {
      color: var(--dark-grey);
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button:not(:first-child) {
      color: var(--blue);
      border: 1px solid var(--blue);
    }

    .btn-filled {
      text-align: center;
    }
  }
}

@media (max-width: 960px) {
  .offer article {
    flex-direction: column;
    gap: 20px;

    > img {
      width: 100%;
      max-height: 400px;
    }

    .buttons {
      gap: 8px;
      margin-inline: auto 0;
      max-width: 250px;
    }
  }

  .offer aside {
    width: 100%;
  }

  .details {
    gap: 10px;
  }

  .middle {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 20px;
    border-block-end: 1px solid var(--light-grey);

    > * {
      flex: 1;
    }
  }
}

@media (max-width: 720px) {
  .offer article {
    .middle {
      flex-direction: column;
      gap: 0;
      align-items: stretch;
    }

    .buttons {
      margin-inline: initial;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      max-width: initial;
    }
    .buttons button {
      flex: 1 0 calc(50% - 8px);
    }
    .buttons > button:first-of-type {
      flex: 1 0 100%;
    }
  }
}
