.payment {
  background-color: var(--light-grey);
  font-size: 1.125rem;

  > .container {
    max-width: 800px;
    background-color: white;
    padding: 0;
  }

  h1 {
    font-size: 1.5rem;
    padding: 30px;
  }

  form > * {
    padding: 40px 30px;
  }

  .details {
    border-block-end: 1px solid var(--light-grey);

    p {
      display: flex;
      margin-block-end: 20px;

      span {
        display: inline-block;
        margin-inline: auto 0;
      }
    }
  }

  .total p:first-child {
    display: flex;
    margin-block-end: 60px;
    color: black;
    font-weight: bold;

    span {
      margin-inline: auto 0;
    }
  }

  .total p:last-child {
    display: initial;
    line-height: 1.35;
    span {
      font-weight: bold;
    }
  }

  .total + * {
    margin: 0;
  }

  button {
    margin: 0 30px 30px 30px;
    background-color: #02c06d;
    padding: 0.8em 1em;

    svg {
      display: block;
      margin-inline: auto;
    }
  }

  button[disabled] {
    background-color: var(--grey);
  }

  .success {
    padding: 30px;
    text-align: center;

    h2 {
      font-size: 1.5rem;
      margin-block-end: 20px;
    }
    p {
      display: block;
      line-height: 1.5;
    }
    span {
      font-weight: bold;
      color: black;
    }
  }
}
